@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main--content m-0" id="main--content">


    <div class="weekly-timetable">
        <h1 class="header-service">Activities for <span id="ctl00_ContentPlaceHolder_Main_lblStudent">thangddbh00625 (Đỗ Đức Thắng)</span></h1>

        <h2 class="header-second mt-md-5 font-weight-bold text-left">
            <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 15V12.875L14.3 7.575L16.425 9.7L11.125 15H9ZM0 10V8H7V10H0ZM17.125 9L15 6.875L15.725 6.15C15.9083 5.96667 16.1417 5.875 16.425 5.875C16.7083 5.875 16.9417 5.96667 17.125 6.15L17.85 6.875C18.0333 7.05833 18.125 7.29167 18.125 7.575C18.125 7.85833 18.0333 8.09167 17.85 8.275L17.125 9ZM0 6V4H11V6H0ZM0 2V0H11V2H0Z" fill="#F07025"></path>
            </svg>
            <span>These activities do not include extra-curriculum activities, such as club activities ...</span>
        </h2>
        <hr>
        <div class="time-selected">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    Year
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    Week
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <select name="ctl00$ContentPlaceHolder_Main$drpYear" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder_Main$drpYear\',\'\')', 0)" id="ctl00_ContentPlaceHolder_Main_drpYear" class="form-control shadow-none" style="background: url(&quot;data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEzIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjgxMzIyIDcuNzI3MDFMMC4yODY0OTYgMi40NjA3OUMtMC4wOTU0OTg2IDIuMDk2ODEgLTAuMDk1NDk4NiAxLjUwODIzIDAuMjg2NDk2IDEuMTQ4MTFMMS4yMDQ5MSAwLjI3Mjk5MUMxLjU4NjkgLTAuMDkwOTk3MSAyLjIwNDYgLTAuMDkwOTk3MSAyLjU4MjUzIDAuMjcyOTkxTDYuNSA0LjAwNTgxTDEwLjQxNzUgMC4yNzI5OTFDMTAuNzk5NSAtMC4wOTA5OTcxIDExLjQxNzIgLTAuMDkwOTk3MSAxMS43OTUxIDAuMjcyOTkxTDEyLjcxMzUgMS4xNDgxMUMxMy4wOTU1IDEuNTEyMSAxMy4wOTU1IDIuMTAwNjggMTIuNzEzNSAyLjQ2MDc5TDcuMTg2NzggNy43MjcwMUM2LjgxMjkxIDguMDkxIDYuMTk1MjIgOC4wOTEgNS44MTMyMiA3LjcyNzAxWiIgZmlsbD0iI0YwNzAyNSIvPgo8L3N2Zz4=&quot;) 97% 50% no-repeat;">
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option selected="selected" value="2024">2024</option>
                        <option value="2025">2025</option>

                    </select>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <select name="ctl00$ContentPlaceHolder_Main$drpSelectWeek" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder_Main$drpSelectWeek\',\'\')', 0)" id="ctl00_ContentPlaceHolder_Main_drpSelectWeek" class="form-control shadow-none" style="background: url(&quot;data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEzIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjgxMzIyIDcuNzI3MDFMMC4yODY0OTYgMi40NjA3OUMtMC4wOTU0OTg2IDIuMDk2ODEgLTAuMDk1NDk4NiAxLjUwODIzIDAuMjg2NDk2IDEuMTQ4MTFMMS4yMDQ5MSAwLjI3Mjk5MUMxLjU4NjkgLTAuMDkwOTk3MSAyLjIwNDYgLTAuMDkwOTk3MSAyLjU4MjUzIDAuMjcyOTkxTDYuNSA0LjAwNTgxTDEwLjQxNzUgMC4yNzI5OTFDMTAuNzk5NSAtMC4wOTA5OTcxIDExLjQxNzIgLTAuMDkwOTk3MSAxMS43OTUxIDAuMjcyOTkxTDEyLjcxMzUgMS4xNDgxMUMxMy4wOTU1IDEuNTEyMSAxMy4wOTU1IDIuMTAwNjggMTIuNzEzNSAyLjQ2MDc5TDcuMTg2NzggNy43MjcwMUM2LjgxMjkxIDguMDkxIDYuMTk1MjIgOC4wOTEgNS44MTMyMiA3LjcyNzAxWiIgZmlsbD0iI0YwNzAyNSIvPgo8L3N2Zz4=&quot;) 97% 50% no-repeat;">
                        <option value=""></option>
                        <option value="1">01/01 To 07/01</option>
                        <option value="2">08/01 To 14/01</option>
                        <option value="3">15/01 To 21/01</option>
                        <option value="4">22/01 To 28/01</option>
                        <option value="5">29/01 To 04/02</option>
                        <option value="6">05/02 To 11/02</option>
                        <option value="7">12/02 To 18/02</option>
                        <option value="8">19/02 To 25/02</option>
                        <option value="9">26/02 To 03/03</option>
                        <option value="10">04/03 To 10/03</option>
                        <option value="11">11/03 To 17/03</option>
                        <option value="12">18/03 To 24/03</option>
                        <option value="13">25/03 To 31/03</option>
                        <option value="14">01/04 To 07/04</option>
                        <option value="15">08/04 To 14/04</option>
                        <option value="16">15/04 To 21/04</option>
                        <option value="17">22/04 To 28/04</option>
                        <option selected="selected" value="18">29/04 To 05/05</option>
                        <option value="19">06/05 To 12/05</option>
                        <option value="20">13/05 To 19/05</option>
                        <option value="21">20/05 To 26/05</option>
                        <option value="22">27/05 To 02/06</option>
                        <option value="23">03/06 To 09/06</option>
                        <option value="24">10/06 To 16/06</option>
                        <option value="25">17/06 To 23/06</option>
                        <option value="26">24/06 To 30/06</option>
                        <option value="27">01/07 To 07/07</option>
                        <option value="28">08/07 To 14/07</option>
                        <option value="29">15/07 To 21/07</option>
                        <option value="30">22/07 To 28/07</option>
                        <option value="31">29/07 To 04/08</option>
                        <option value="32">05/08 To 11/08</option>
                        <option value="33">12/08 To 18/08</option>
                        <option value="34">19/08 To 25/08</option>
                        <option value="35">26/08 To 01/09</option>
                        <option value="36">02/09 To 08/09</option>
                        <option value="37">09/09 To 15/09</option>
                        <option value="38">16/09 To 22/09</option>
                        <option value="39">23/09 To 29/09</option>
                        <option value="40">30/09 To 06/10</option>
                        <option value="41">07/10 To 13/10</option>
                        <option value="42">14/10 To 20/10</option>
                        <option value="43">21/10 To 27/10</option>
                        <option value="44">28/10 To 03/11</option>
                        <option value="45">04/11 To 10/11</option>
                        <option value="46">11/11 To 17/11</option>
                        <option value="47">18/11 To 24/11</option>
                        <option value="48">25/11 To 01/12</option>
                        <option value="49">02/12 To 08/12</option>
                        <option value="50">09/12 To 15/12</option>
                        <option value="51">16/12 To 22/12</option>
                        <option value="52">23/12 To 29/12</option>

                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="weekly-timetable-table table-responsive table-wrapper-scroll-x table-wrapper-scroll-y my-custom-scrollbar">
            <div id="ctl00_ContentPlaceHolder_Main_divNameDay"></div><div id="ctl00_ContentPlaceHolder_Main_divShowDate"></div><div id="ctl00_ContentPlaceHolder_Main_divContent"></div><table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2" style="text-align: center;">

                        </th>
                        <th style="text-align: center;">Mon</th>
                        <th style="text-align: center;">Tue</th>
                        <th style="text-align: center;">Wed</th>
                        <th style="text-align: center;">Thu</th>
                        <th style="text-align: center;">Fri</th>
                        <th style="text-align: center;">Sat</th>
                        <th style="text-align: center;">Sun</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">29/04</th>
                        <th style="text-align: center;">30/04</th>
                        <th style="text-align: center;">01/05</th>
                        <th style="text-align: center;">02/05</th>
                        <th style="text-align: center;">03/05</th>
                        <th style="text-align: center;">04/05</th>
                        <th style="text-align: center;">05/05</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><th scope="row">Slot 1  (7:15-9:15) </th><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td></tr>
                    <tr><th scope="row">Slot 2  (9:25-11:25) </th><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td></tr>
                    <tr><th scope="row">Slot 3  (12:00-14:00) </th><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td></tr>
                    <tr><th scope="row">Slot 4  (14:10-16:10) </th><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td></tr>
                    <tr><th scope="row">Slot 5  (16:20-18:20) </th><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td></tr>
                    <tr><th scope="row">Slot 6  (18:30-20:30) </th><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td></tr>
                    <tr><th scope="row">Slot 7  (20:30-22:30) </th><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td><td style="width: 11%"><center></center></td></tr>
                </tbody>
            </table>
        </div>
        <div class="notes">
            <h4>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.2" d="M12 15H9V12L15.75 5.25L18.75 8.25L12 15Z" fill="#F07025"></path>
                    <path d="M21.525 5.46561L18.525 2.46561C18.3844 2.32535 18.1939 2.24658 17.9953 2.24658C17.7967 2.24658 17.6062 2.32535 17.4656 2.46561L8.46564 11.4656C8.32635 11.6085 8.24889 11.8004 8.25001 12V15C8.25001 15.1989 8.32903 15.3897 8.46968 15.5303C8.61033 15.671 8.8011 15.75 9.00001 15.75H12C12.0974 15.7503 12.1939 15.7315 12.284 15.6945C12.3741 15.6575 12.456 15.6031 12.525 15.5344L21.525 6.53436C21.5959 6.46457 21.6522 6.38139 21.6906 6.28965C21.729 6.19791 21.7488 6.09944 21.7488 5.99999C21.7488 5.90053 21.729 5.80206 21.6906 5.71032C21.6522 5.61858 21.5959 5.5354 21.525 5.46561ZM11.6906 14.25H9.75001V12.3094L15.75 6.30936L17.6906 8.24999L11.6906 14.25ZM18.75 7.19061L16.8094 5.24999L18 4.05936L19.9406 5.99999L18.75 7.19061Z" fill="#F07025"></path>
                    <path d="M20.25 10.5C20.0511 10.5 19.8603 10.579 19.7197 10.7197C19.579 10.8603 19.5 11.0511 19.5 11.25V19.5H4.5V4.5H12.75C12.9489 4.5 13.1397 4.42098 13.2803 4.28033C13.421 4.13968 13.5 3.94891 13.5 3.75C13.5 3.55109 13.421 3.36032 13.2803 3.21967C13.1397 3.07902 12.9489 3 12.75 3H4.5C4.10218 3 3.72064 3.15804 3.43934 3.43934C3.15804 3.72064 3 4.10218 3 4.5V19.5C3 19.8978 3.15804 20.2794 3.43934 20.5607C3.72064 20.842 4.10218 21 4.5 21H19.5C19.8978 21 20.2794 20.842 20.5607 20.5607C20.842 20.2794 21 19.8978 21 19.5V11.25C21 11.0511 20.921 10.8603 20.7803 10.7197C20.6397 10.579 20.4489 10.5 20.25 10.5Z" fill="#F07025"></path>
                </svg>
                <span>More note:</span>
            </h4>
            <div id="ctl00_ContentPlaceHolder_Main_divfoot"><ul><li>(<font color="green">attended</font>): thangddbh00625 <b>had</b> attended this activity / Đỗ Đức Thắng đã tham gia hoạt động này</li><li>(<font color="red">absent</font>): thangddbh00625 <b>had NOT</b> attended this activity / Đỗ Đức Thắng đã vắng mặt buổi này</li></ul></div>
        </div>
    </div>


    <script src="../Asset/js/NewPage/weekly_timetable.js"></script>

</div>